body {
        margin: 0 auto;
        padding: 0;
        font: .75em/1.5em Helvetica, Arial, sans-serif;
        color: #797267;
        width: 960px;
        background: #797267;
}
header {
        margin:solid red;
        width :960px;
}
#bi{
  width:317px;
        height:71px;
        margin-left:64px;
        margin-top:44px;

}
#bii{
  font-size:16px;
  padding-right:24px;
        padding-left:200px;
        margin-top:84px;
        margin-bottom:64px;
        margin-right:10px;
        text-align:right;
        color:#423b2e;
}
#column1of2{

margin-left:64px;
padding-left:25px;
padding-bottom:45px;
width:260px;

}
h2{
  color:#423b2e;
  font-size:1.5em;

}
#column2of2 {
        padding-bottom:45px;
        padding-left:25px;
        margin-bottom:45px;
width:450px;
}
#three{
border:2px dashed black;
background-color:white;
margin-left:34px;
margin-top:34px;
margin-right:34px;
margin-bottom:34px;
}
#current{
  color:red;
}

footer{
  text-align:center;
  font-size:0.9em;
  color:#423b2e;
}
